<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="entity.Customer">
    <select id="Login" parameterType="entity.Customer" resultType="entity.Customer">
        SELECT * FROM customer WHERE #{customername} = customername AND #{passwd} = passwd
    </select>


    <insert id="Register" parameterType="entity.Customer">
        INSERT INTO customer(customername, passwd) VALUES (#{customername},#{passwd})
    </insert>

    <select id="findCustomerByname" parameterType="string" resultType="entity.Customer">
        SELECT * FROM customer WHERE #{customername} = customername
    </select>
</mapper>
